body {
    margin: 0;
}

header {
    max-width: 1920px;
    height: 804px;
    background-image: url('./images/banner.jpg');
    background-size: 100% 100%;
    color: white;
    margin: 0 auto;
}

nav {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    overflow: hidden;
    padding-inline: 20px;
}

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 30px;
    color: white;
}