body {
    margin: 0;
    background-color: white;
}

.order-section,
.form-menu {
    max-width: 1920px;
    width: 80%;
    margin: 0 auto;
    margin-top: 150px;
    /* border: 1px solid red; */
}

.heading {
    width: 250px;
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
    border-top: 2px solid #c4c3c3;
    border-bottom: 2px solid #c4c3c3;
}



header {
    max-width: 1920px;
    height: 804px;
    background-image: url('./images/banner.jpg');
    background-size: 100% 100%;
    color: white;
    margin: 0 auto;
}

nav {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    overflow: hidden;
    padding-inline: 20px;
    z-index: 99;
}

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 30px;
    color: white;
}

nav img {
    width: 40px;
    height: 40px;
    display: none;
}


.order-image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    padding-top: 50px;
    gap: 30px;
    /* border: 1px solid red; */
}

.order-image {
    position: relative;
    text-align: center;
}

.order-image p {
    position: absolute;
    bottom: 0;
    color: white;
    left: 40%;
    font-size: 20px;
}

.menu-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    place-items: center;
    padding-top: 50px;
}

.menu-card img {
    width: 100px;
    height: 100px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.menu-card {
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu-card p {
    color: rgb(124, 123, 123);
}

.menu-card h4 {
    color: #BF8C15;
}











@media (min-width: 801px) and (max-width:1200px) {
    header {
        height: 640px;
    }
}






/* TABLET RESPONSIVE */
@media (min-width: 501px) and (max-width: 800px) {
    header {
        height: 450px;
    }

    nav ul {
        display: none;
    }

    nav img {
        display: block;
    }

    .order-image-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .menu-card-container {
        grid-template-columns: repeat(1, 1fr);
    }
}










/* MOBILE RESPONSIVE */
@media (max-width:500px) {
    header {
        height: 300px;
    }

    nav ul {
        display: none;
    }

    nav img {
        display: block;
    }

    .order-image-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .menu-card-container {
        grid-template-columns: repeat(1, 1fr);
    }


    .menu-card img {
        width: 150px;
        height: 150px;
    }

    .menu-card {
        flex-direction: column;
        border: 1px solid gray;
        padding: 10px;
        border-radius: 20px;
    }

    .menu-card h2 {
        font-size: 20px;
    }

}